{% extends "base.html" %}
{% block content %}

<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

       h3 {
        border-bottom: 1px solid gray;
        margin-bottom: 10px;
    }
</style>

<div class="container">

<h2>Szczegóły:</h2>



<table class="table">
    <thead>
    <tr>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Rok urodzenia</th>
        <th>Wiek</th>
        <th>Płeć</th>
        <th>Wzrost</th>
        <th>Waga</th>
        <th>Adres zamieszkania</th>
        <th>PESEL</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ patient.first_name }}</td>
        <td>{{ patient.last_name }}</td>
        <td>{{ patient.year_of_birth }}</td>
        <td>{{ patient.age }}</td>
        <td>{{ patient.gender }}</td>
        <td>{{ patient.growth }}</td>
        <td>{{ patient.weight }}</td>
        <td>{{ patient.address }}</td>
        <td>{{ patient.pesel }}</td>

    </tr>

    </tbody>
</table>

<ul class="nav-item dropdown">
    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown"
       aria-expanded="false">
        <button type="button" class="btn btn-secondary btn-lg btn-block">Dodaj nowe informacje </button>
    </a>
    <ul class="dropdown-menu dropdown-menu-center">
        <li><a class="dropdown-item" href="/add_medication/{{ patient.id }}/">Dodaj nowe leki</a></li>
        <li><a class="dropdown-item" href="/add_medicalcomponent/{{ patient.id }}/">Dodaj wyrób medyczny</a></li>
        <li><a class="dropdown-item" href="/add_medicalnote/{{ patient.id }}/">Dodaj notatkę dla pacjenta</a></li>
        <li><a class="dropdown-item" href="/add_prescription/{{ patient.id }}/">Dodaj notatkę dla lekarza</a></li>
        <li><a class="dropdown-item" href="/date_add/{{ patient.id }}/">Dodaj datę wizyty</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
    </ul>
</ul>

<h3>Opis chorób:</h3>
<ul>
    {{object.description_of_diseases}}
    {{ description }}

</ul>

<h3>Lista aktualnie przyjmowanych leków:</h3>
<ul>
    {{object.drugs_list }}
    {{ drug }}

</ul>

<h3>Nowa lista leków</h3>
<ul>
    {% for medication in object.medicament.all %}
    <li>{{ medication.name }} --> {{ medication.descriptions }}</li>
    {% endfor %}
</ul>

<h3>Wyroby medyczne</h3>
<ul>
    {% for medical_components in object.medical_component.all %}
    <li>
        <strong>Nazwa:</strong> {{ medical_components.name }}<br>
        <strong>Opis:</strong> {{ medical_components.description }}
    </li>
    {% empty %}
    <li>Brak</li>
    {% endfor %}
</ul>

<h3>Notatki medyczne  </h3>
    <ul>
        {% for note in object.medical_notes.all %}
            <li>
                <p>Treść: {{ note.description }} Data utworzenia: {{ note.created_at }}</p>

            </li>
        {% empty %}
            <li>Brak notatek medycznych</li>
        {% endfor %}
    </ul>

<h3>Notatka dla lekarza</h3>
<ul>
    {% for notes in object.prescriptions.all %}
        <li>
            <p>Treść: {{ notes.description }}</p>
            <p>Data utworzenia: {{ notes.created_at }}</p>
        </li>
    {% empty %}
        <li>Brak notatek medycznych</li>
    {% endfor %}
</ul>

<h3>Daty odbytych wizyt</h3>
<ul>
    {% for date in object.date_add.all %}
        <li>
            <p>{{ date.data_add }}</p>
            <p></p>
        </li>
    {% empty %}
        <li>Brak wizyt</li>
    {% endfor %}
</ul>






</body>
</html>

</div>



{% endblock %}