{% extends 'base.html' %}

{% block content %}

<html>
<head>
  <title>Dodaj składnik medyczny dla pacjenta</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Dodaj składnik medyczny dla pacjenta</h1>

    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="medical_component">Wyroby medyczne</label>
        <select name="medical_component" multiple class="form-control" required>
          {% for medical in medical_components %}
            <option value="{{ medical.id }}">{{ medical.name }} - {{ medical.description }}</option>
          {% endfor %}
        </select>

      </div>
      <button type="submit" class="btn btn-primary">Dodaj</button>
    </form>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>

{% endblock %}